{%extends 'partials/_base.html' %}
{% load static %}
{% block content %}

   <!-- Seção de Produtos -->
   <section class="container">
    <section id="jeans" class="produtos">
            <h2>JEANS</h2>
            <div class="grid-produtos">
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca1.png" alt="Produto 1"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 1</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca2.png" alt="Produto 2"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 2</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca3.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca4.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca5.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="/media/calca6.png" alt="Produto 3"> <!-- Caminho alterado para a pasta 'media' -->
                    <h3>Produto 3</h3>
                    <p>R$ 99,90</p>
                    <button>Comprar</button>
                </div>
            </div>
        </section>
    </section>

{% endblock %}