{%extends 'partials/_base.html' %}
{% load static %}
{% block content %}

   <!-- Seção de Produtos -->
   <section class="container">
    <section id="jeans" class="produtos">
            <h2>JEANS</h2>

            <div class="total-count">
                <p>{{ total_calcas }} produtos</p>
            </div>
            <!-- Botões para mudar o layout -->
            <div class="layout-container">
                <div class="view-buttons">
                    <button onclick="changeLayout('list')">
                        <img src="{% static 'assets/icons/grade_unica.png' %}" alt="">
                    </button>
                    <button onclick="changeLayout('grid-4')">
                        <img src="{% static 'assets/icons/grade_menor.png' %}" alt="">
                    </button>
                    <button onclick="changeLayout('grid-6')">
                        <img src="{% static 'assets/icons/grade_maior.png' %}" alt="">
                    </button>
                </div>
            </div>

            <div class="grid-produtos">
                {% if calcas %}
                {% for calca in calcas %}
                <div class="produto">
                    <a href="{% url 'produto_calca' calca.id %}">
                        {% if calca.imagem == "" or calca.imagem == null %}
                        <img src="{% static 'media/not_found.png' %}" alt="Calça">
                        {% else %}
                        <img src="{{ calca.imagem.url }}" alt="Calça">
                        {% endif %}
                    </a>
                    <h3>{{ calca.nome }}</h3>
                    <p>R$ {{ calca.preco }},00</p>
                    <button>Comprar</button>
                </div>
                {% endfor %}
                {% else %}
                <p>Nenhum produto encontrado.</p>
                {% endif %}
            </div>
        </section>
    </section>           

{% endblock %}